<section class="about" id="about">
    <div class="about__content">
        <div class="about__video-wrapper">
            <video src="/video/earth.mp4" loop="" autoplay="" playsinline="" muted=""></video>
        </div>
        <div class="about__text-content">
            <h2 class="about__heading">
                About
            </h2>
            <ul class="about__list">
                <li class="about__list-item">
                    <div class="about__card js-accordion" data-close-other="">
                        <div class="about__card-btn js-accordion-btn">
                            For investors
                            <span class="about__card-btn-plus">
                                <span class="about__card-btn-outline">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <span class="about__card-btn-bar"></span>
                                <span class="about__card-btn-bar"></span>
                            </span>
                        </div>
                        <div class="about__card-content js-accordion-content">
                            <div class="about__card-content-inner">
                                <div class="about__card-text">
                                    We aim to help investors safely diversify their capital, enabling steady high
                                    returns regardless of the Web3 market dynamics.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__list-item">
                    <div class="about__card js-accordion" data-close-other="">
                        <div class="about__card-btn js-accordion-btn">
                            For founders
                            <span class="about__card-btn-plus">
                                <span class="about__card-btn-outline">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <span class="about__card-btn-bar"></span>
                                <span class="about__card-btn-bar"></span>
                            </span>
                        </div>
                        <div class="about__card-content js-accordion-content">
                            <div class="about__card-content-inner">
                                <div class="about__card-text">
                                    We aim to help investors safely diversify their capital, enabling steady high
                                    returns regardless of the Web3 market dynamics.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__list-item">
                    <div class="about__card js-accordion" data-close-other="">
                        <div class="about__card-btn js-accordion-btn">
                            Our team
                            <span class="about__card-btn-plus">
                                <span class="about__card-btn-outline">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <span class="about__card-btn-bar"></span>
                                <span class="about__card-btn-bar"></span>
                            </span>
                        </div>
                        <div class="about__card-content js-accordion-content">
                            <div class="about__card-content-inner">
                                <div class="about__card-text">
                                    We aim to help investors safely diversify their capital, enabling steady high
                                    returns regardless of the Web3 market dynamics.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__list-item">
                    <div class="about__card js-accordion" data-close-other="">
                        <div class="about__card-btn js-accordion-btn">
                            Our mission
                            <span class="about__card-btn-plus">
                                <span class="about__card-btn-outline">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <span class="about__card-btn-bar"></span>
                                <span class="about__card-btn-bar"></span>
                            </span>
                        </div>
                        <div class="about__card-content js-accordion-content">
                            <div class="about__card-content-inner">
                                <div class="about__card-text">
                                    We aim to help investors safely diversify their capital, enabling steady high
                                    returns regardless of the Web3 market dynamics.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>