<section class="article">
    <div class="article__content">


        <div class="article__top-row">
            <div class="article__breadcrumbs">
                <a href="#">
                    MAIN
                </a>
                <a href="#">
                    Blog
                </a>
            </div>
            <div class="article__wrapper">
                <div class="article__wrapper-top">
                    <div class="article__date">
                        28.02.2024
                    </div>
                    <div class="article__tags">
                        <div class="article__tag">
                            Analytics
                        </div>
                    </div>
                </div>
                <h1 class="article__main-heading">
                    ABO Digital to bring alternative financing structures to region’s crypto <market></market>
                </h1>
            </div>
        </div>
        <div class="article__image-wrapper">
            <img src="/images/article.webp" alt="" class="article__image">
        </div>
        <div class="article__text-content">
            <div class="article__text-content-inner">
                <div class="article__text">
                    <div class="large-text">
                        Just as the web today is a product of the contributions from many people working on a broad
                        computer
                        programming spectrum, so too is Ethereum a product of the disparate work of thousands of people
                        working
                        on different ideas.
                    </div>
                    <h2>
                        Protocol Development
                    </h2>
                    <p>
                        Ethereum is, first and foremost, a protocol, just like the protocol the internet relies upon:
                        TCP/IP. A
                        protocol consists of a shared set of rules and specifications about how data is created,
                        transmitted,
                        and stored by a computer network. The very first specification of the <a href="#">Ethereum
                            protocol</a>
                        was represented
                        in the Ethereum Yellow Paper.

                    </p>
                    <p>
                        Core proposals are the nuts and bolts of how Ethereum should be upgraded and, after such
                        upgrades,
                        how
                        the Ethereum network technically works. For example, last September, a proposal was implemented
                        when
                        Ethereum switched to utilizing Proof of Stake from Proof of Work as a consensus mechanism in the
                        protocol.
                    </p>
                    <ul>
                        <li>
                            Ethereum is, first and foremost, a protocol, just like the protocol the internet relies
                            upon: TCP/IP.
                        </li>
                        <li>
                            A protocol consists of a shared set of rules and specifications about how data is created,
                            transmitted, and stored by a computer network.
                        </li>
                        <li>
                            The very first specification of the Ethereum protocol was represented in the Ethereum Yellow
                            Paper.
                        </li>
                    </ul>
                    <blockquote class="blockquote">
                        <div class="blockquote__pattern">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="blockquote__text">
                            Just as the web today is a product of the contributions from many people working on a broad
                            computer
                            programming spectrum, so too is Ethereum a product of the disparate work of thousands of
                            people
                            working on different ideas.
                        </div>
                        <div class="blockquote__author">
                            Bill Hughes & Matt Corva
                        </div>
                    </blockquote>
                    <h3>
                        Protocol Development
                    </h3>
                    <p>
                        Ethereum is, first and foremost, a protocol, just like the protocol the internet relies upon:
                        TCP/IP. A
                        protocol consists of a shared set of rules and specifications about how data is created,
                        transmitted,
                        and stored by a computer network. The very first specification of the <a href="#">Ethereum
                            protocol</a>
                        was represented
                        in the Ethereum Yellow Paper.

                    </p>
                    <p>
                        Core proposals are the nuts and bolts of how Ethereum should be upgraded and, after such
                        upgrades,
                        how
                        the Ethereum network technically works. For example, last September, a proposal was implemented
                        when
                        Ethereum switched to utilizing Proof of Stake from Proof of Work as a consensus mechanism in the
                        protocol.
                    </p>
                    <ol>
                        <li>
                            Ethereum is, first and foremost, a protocol, just like the protocol the internet relies
                            upon: TCP/IP.
                        </li>
                        <li>
                            A protocol consists of a shared set of rules and specifications about how data is created,
                            transmitted, and stored by a computer network.
                        </li>
                        <li>
                            The very first specification of the Ethereum protocol was represented in the Ethereum Yellow
                            Paper.
                        </li>
                    </ol>
                    <div class="image-gallery js-image-slider">

                        <div class="image-gallery__wrapper">
                            <div class="image-gallery__fraction-pagination">

                            </div>
                            <button class="image-gallery__arrow image-gallery__arrow--prev">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 9L1.02944 9M1.02944 9L9.51472 17.4853M1.02944 9L9.51472 0.514718"
                                        stroke="white" stroke-width="1" vector-effect="non-scaling-stroke" />
                                </svg>
                            </button>
                            <button class="image-gallery__arrow image-gallery__arrow--next">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 9L16.9706 9M16.9706 9L8.48528 0.514718M16.9706 9L8.48528 17.4853"
                                        stroke="white" stroke-width="1" vector-effect="non-scaling-stroke" />
                                </svg>
                            </button>
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-gallery__card">
                                            <img src="/images/image-gallery.webp" alt=""
                                                class="image-gallery__card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-gallery__card">
                                            <img src="/images/image-gallery.webp" alt=""
                                                class="image-gallery__card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-gallery__card">
                                            <img src="/images/image-gallery.webp" alt=""
                                                class="image-gallery__card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-gallery__card">
                                            <img src="/images/image-gallery.webp" alt=""
                                                class="image-gallery__card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-gallery__text-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-gallery__text-slider-card">
                                            Caption for photo
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-gallery__text-slider-card">
                                            Caption for photo
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-gallery__text-slider-card">
                                            Caption for photo
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-gallery__text-slider-card">
                                            Caption for photo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-gallery__bullets-pagination">

                        </div>
                    </div>
                    <p>
                        Ethereum is, first and foremost, a protocol, just like the protocol the internet relies upon:
                        TCP/IP. A
                        protocol consists of a shared set of rules and specifications about how data is created,
                        transmitted,
                        and stored by a computer network. The very first specification of the Ethereum protocol was
                        represented
                        in the Ethereum Yellow Paper.

                    </p>
                    <p>
                        Core proposals are the nuts and bolts of how Ethereum should be upgraded and, after such
                        upgrades,
                        how
                        the Ethereum network technically works. For example, last September, a proposal was implemented
                        when
                        Ethereum switched to utilizing Proof of Stake from Proof of Work as a consensus mechanism in the
                        protocol.
                    </p>
                </div>
                <div class="article__sharing">
                    <h3 class="article__sharing-title">
                        Share:
                    </h3>
                    <ul class="article__sharing-list">
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>