<section class="blog">
    <div class="blog__content">
        <h2 class="blog__heading">
            Blog
        </h2>
        <div class="blog__slider-wrapper">


            <div class="blog__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="blog__slider-card">
                                <div class="blog__slider-card-tags">
                                    <div class="blog__slider-card-tag">
                                        Articles
                                    </div>

                                </div>
                                <div class="blog__slider-card-image-container">
                                    <img src="/images/blog/1.webp" alt="" class="blog__slider-card-image">
                                </div>
                                <h3 class="blog__slider-card-title">
                                    Blockchain is a global, borderless thing - regulators need to think about it in a
                                    global
                                </h3>
                                <div class="blog__slider-card-bottom-row">
                                    <div class="blog__slider-card-date">
                                        22.02.2024
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="blog__slider-card">
                                <div class="blog__slider-card-tags">
                                    <div class="blog__slider-card-tag">
                                        Education
                                    </div>
                                </div>
                                <div class="blog__slider-card-image-container">
                                    <img src="/images/blog/2.webp" alt="" class="blog__slider-card-image">
                                </div>
                                <h3 class="blog__slider-card-title">
                                    Vega protocol alpha mainnet: revolutionizing DeFi and decentralized Trading
                                </h3>
                                <div class="blog__slider-card-bottom-row">
                                    <div class="blog__slider-card-date">
                                        12.02.2024
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="blog__slider-card">
                                <div class="blog__slider-card-tags">
                                    <div class="blog__slider-card-tag">
                                        Events
                                    </div>
                                    <div class="blog__slider-card-tag">
                                        News
                                    </div>
                                </div>
                                <div class="blog__slider-card-image-container">
                                    <img src="/images/blog/3.webp" alt="" class="blog__slider-card-image">
                                </div>
                                <h3 class="blog__slider-card-title">
                                    Pantera capital's dan morehead explains why he believes equities are 'wildly
                                    overvalued
                                </h3>
                                <div class="blog__slider-card-bottom-row">
                                    <div class="blog__slider-card-date">
                                        11.02.2024
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="blog__slider-card">
                                <div class="blog__slider-card-tags">
                                    <div class="blog__slider-card-tag">
                                        Articles
                                    </div>

                                </div>
                                <div class="blog__slider-card-image-container">
                                    <img src="/images/blog/4.webp" alt="" class="blog__slider-card-image">
                                </div>
                                <h3 class="blog__slider-card-title">
                                    Top 5 common hiring mistakes that Web3 startups make
                                </h3>
                                <div class="blog__slider-card-bottom-row">
                                    <div class="blog__slider-card-date">
                                        31.01.2024
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="blog__more-link">
                Learn More
            </a>
        </div>

    </div>
</section>