<section class="blog-archive">
    <div class="blog-archive__content">
        <div class="blog-archive__top-row">
            <a href="#" class="blog-archive__back">
                // MAIN
            </a>
            <h1 class="blog-archive__heading">
                Blog
            </h1>
        </div>
        <div class="blog-archive__bottom-row">
            <div class="blog-archive__nav">
                <ul class="blog-archive__nav-list">
                    <li class="blog-archive__nav-list-item">
                        <a href="#" class="blog-archive__nav-link active">
                            All
                        </a>
                    </li>
                    <li class="blog-archive__nav-list-item">
                        <a href="#" class="blog-archive__nav-link">
                            News
                        </a>
                    </li>
                    <li class="blog-archive__nav-list-item">
                        <a href="#" class="blog-archive__nav-link">
                            Articles
                        </a>
                    </li>
                    <li class="blog-archive__nav-list-item">
                        <a href="#" class="blog-archive__nav-link">
                            Education
                        </a>
                    </li>
                    <li class="blog-archive__nav-list-item">
                        <a href="#" class="blog-archive__nav-link">
                            Events
                        </a>
                    </li>
                </ul>
            </div>
            <div class="blog-archive__wrapper">
                <ul class="blog-archive__list">
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Articles /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/1.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Blockchain is a global, borderless thing - regulators need to think about it in a
                                global
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    22.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Education /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/2.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Vega protocol alpha mainnet: revolutionizing DeFi and decentralized Trading
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    12.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Events / News /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/3.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Pantera capital's dan morehead explains why he believes equities are 'wildly
                                overvalued
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    11.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Articles /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/4.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Top 5 common hiring mistakes that Web3 startups make
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    31.01.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Articles /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/1.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Blockchain is a global, borderless thing - regulators need to think about it in a
                                global
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    22.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Education /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/2.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Vega protocol alpha mainnet: revolutionizing DeFi and decentralized Trading
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    12.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Events / News /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/3.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Pantera capital's dan morehead explains why he believes equities are 'wildly
                                overvalued
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    11.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Articles /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/4.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Top 5 common hiring mistakes that Web3 startups make
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    31.01.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="blog-archive__list-item">
                        <a href="#" class="blog__slider-card">
                            <div class="blog__slider-card-tags">
                                / Articles /
                            </div>
                            <div class="blog__slider-card-image-container">
                                <img src="/images/blog/1.webp" alt="" class="blog__slider-card-image">
                            </div>
                            <h3 class="blog__slider-card-title">
                                Blockchain is a global, borderless thing - regulators need to think about it in a
                                global
                            </h3>
                            <div class="blog__slider-card-bottom-row">
                                <div class="blog__slider-card-date">
                                    22.02.2024
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>