<section class="development">
    <div class="development__content">
        <div class="development__heading-wrapper">


            <h2 class="development__heading">
                Development
            </h2>
        </div>
        <ul class="development__subjects-list">
            <li class="development__subjects-list-item">
                <div class="development__subjects-card">
                    <div class="development__subjects-card-title">
                        Digital Solutions for Business
                    </div>
                    <ul class="development__subjects-card-list">
                        <li class="development__subjects-card-list-item">
                            design
                        </li>
                        <li class="development__subjects-card-list-item">
                            develop
                        </li>
                        <li class="development__subjects-card-list-item">
                            implement
                        </li>
                        <li class="development__subjects-card-list-item">
                            maintain
                        </li>
                    </ul>
                </div>
            </li>
            <li class="development__subjects-list-item">
                <div class="development__subjects-card">
                    <div class="development__subjects-card-title">
                        Focus on the Web
                    </div>
                    <ul class="development__subjects-card-list">
                        <li class="development__subjects-card-list-item">
                            applications
                        </li>
                        <li class="development__subjects-card-list-item">
                            blockchain
                        </li>
                        <li class="development__subjects-card-list-item">
                            games
                        </li>
                        <li class="development__subjects-card-list-item">
                            design
                        </li>
                        <li class="development__subjects-card-list-item">
                            internet marketing
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="development__categories-list">
            <li class="development__categories-list-item">
                <div class="development__categories-card">
                    <h3 class="development__categories-card-title">
                        Software Development
                    </h3>
                    <ul class="development__categories-card-list">
                        <li class="development__categories-card-list-item">
                            Program Development
                        </li>
                        <li class="development__categories-card-list-item">
                            Website Development
                        </li>
                        <li class="development__categories-card-list-item">
                            Corporate Website Portals
                        </li>
                        <li class="development__categories-card-list-item">
                            Create an Automation System
                        </li>
                    </ul>
                </div>
            </li>
            <li class="development__categories-list-item">
                <div class="development__categories-card">
                    <h3 class="development__categories-card-title">
                        Business Digitalization
                    </h3>
                    <ul class="development__categories-card-list">
                        <li class="development__categories-card-list-item">
                            Digital Transformation
                        </li>
                        <li class="development__categories-card-list-item">
                            Business Automation
                        </li>
                        <li class="development__categories-card-list-item">
                            Digital Development Plans
                        </li>

                    </ul>
                </div>
            </li>
            <li class="development__categories-list-item">
                <div class="development__categories-card">
                    <h3 class="development__categories-card-title">
                        Business Automation
                    </h3>
                    <ul class="development__categories-card-list">
                        <li class="development__categories-card-list-item">
                            Automation of Production
                        </li>
                        <li class="development__categories-card-list-item">
                            Reduce Human Labour
                        </li>
                        <li class="development__categories-card-list-item">
                            Setting Up Complex Digital Equipment
                        </li>
                        <li class="development__categories-card-list-item">
                            Implement CRM System
                        </li>
                    </ul>
                </div>
            </li>
            <li class="development__categories-list-item">
                <div class="development__categories-card">
                    <h3 class="development__categories-card-title">
                        Technical Support
                    </h3>
                    <ul class="development__categories-card-list">
                        <li class="development__categories-card-list-item">
                            Program Support
                        </li>
                        <li class="development__categories-card-list-item">
                            Setup Stable Program
                        </li>
                        <li class="development__categories-card-list-item">
                            Handle Technical Issues
                        </li>
                        <li class="development__categories-card-list-item">
                            Update Informational System
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>