<section class="ecosystem">
    <div class="ecosystem__content">
        <h2 class="ecosystem__heading">
            Ecosystem
        </h2>
        <div class="ecosystem__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/1.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                An international company operating in 14 cryptocurrency sectors with 7 business
                                directions
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/2.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                A full-cycle investment company: hedge fund, venture capital arm, and incubator,
                                specializing in Web3 projects.
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/3.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                A venture investment platform connecting investors with promising Web3 projects in their
                                early stages.
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/4.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                A division of Banana Capital providing a range of services for a strategic approach to
                                passive venture investing in early-stage Web3 projects.
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/5.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                An exclusive community of enthusiasts dedicated to creating simple and convenient
                                conditions for earning income in the Web3 market
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/6.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                A media hub providing up-to-date information and updates on the Web3 market.
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/7.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                A Web3 educational platform aimed at teaching beginners from scratch.
                            </h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ecosystem__card">
                            <img src="/images/ecosystem/8.svg" alt="" class="ecosystem__card-logo">
                            <h3 class="ecosystem__card-title">
                                Banana Assistance. A division providing financial support to clients and expert advisory
                                services
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>