<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <div class="page-footer__logo-wrapper">


                <a href="#" class="page-footer__logo">
                    <img src="/images/logo.svg" alt="" class="page-footer__logo-image">
                </a>
            </div>
            <div class="page-footer__email-wrapper">
                <a href="mailto:hello@bananacapital.fund" class="page-footer__email">
                    For Partnerships & Inquiries:<br>
                    hello@bananacapital.fund
                </a>
            </div>
            <div class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            About
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Team
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Portfolio
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Blog
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Services
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Contacts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__social">
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                © 2024 Banana Capital. All rights reserved
            </div>
            <a href="#" class="page-footer__made-by">
                Разработка сайта
                <img src="/images/markweber.svg" alt="" class="page-footer__made-by-logo">
            </a>
            <a href="#" class="page-footer__scroll-btn">
                Back to top
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#scroll-up"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>