<section class="funding">
    <div class="funding__content">
        <h2 class="funding__heading">
            Funding<br> Options
        </h2>
        <div class="funding__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="funding__slider-card">
                            <div class="funding__slider-card-image-wrapper">
                                <img src="/images/funding/1.svg" alt="" class="funding__slider-card-image">
                            </div>
                            <div class="funding__slider-card-number">
                                01
                            </div>
                            <h3 class="funding__slider-card-title">
                                Investment Areas
                            </h3>
                            <div class="funding__slider-card-text">
                                Fintech, AI & Machine Learning, Gaming, Web3 & Blockchain
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="funding__slider-card">
                            <div class="funding__slider-card-image-wrapper">
                                <img src="/images/funding/2.svg" alt="" class="funding__slider-card-image">
                            </div>
                            <div class="funding__slider-card-number">
                                02
                            </div>
                            <h3 class="funding__slider-card-title">
                                Funding Rounds
                            </h3>
                            <div class="funding__slider-card-text">
                                Pre-seed, Seed, and Private rounds.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="funding__slider-card">
                            <div class="funding__slider-card-image-wrapper">
                                <img src="/images/funding/3.svg" alt="" class="funding__slider-card-image">
                            </div>
                            <div class="funding__slider-card-number">
                                03
                            </div>
                            <h3 class="funding__slider-card-title">
                                Venture Equity
                            </h3>
                            <div class="funding__slider-card-text">
                                Exposure to equity in companies (SAFE) leveraging innovative technologies to develop
                                cutting-edge products and services.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="funding__slider-card">
                            <div class="funding__slider-card-image-wrapper">
                                <img src="/images/funding/4.svg" alt="" class="funding__slider-card-image">
                            </div>
                            <div class="funding__slider-card-number">
                                04
                            </div>
                            <h3 class="funding__slider-card-title">
                                Early-Stage Tokens
                            </h3>
                            <div class="funding__slider-card-text">
                                Exposure to new, efficient, and scalable projects. We focus on investing in tokens
                                (SAFT) during the private stage at a discounted rate compared to the eventual listing
                                price.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="funding__slider-card">
                            <div class="funding__slider-card-image-wrapper">
                                <img src="/images/funding/5.svg" alt="" class="funding__slider-card-image">
                            </div>
                            <div class="funding__slider-card-number">
                                05
                            </div>
                            <h3 class="funding__slider-card-title">
                                Liquid Tokens
                            </h3>
                            <div class="funding__slider-card-text">
                                Investing in the largest and most liquid digital assets. Leveraging our deep market
                                expertise, we strategically trade tokens, capitalizing on market inefficiencies.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#callback-modal" class="funding__callback-btn">
            Submit your project
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
    </div>
</section>