<section class="metrics" id="metrics">
    <div class="metrics__content">
        <h2 class="metrics__heading">
            Key Metrics
        </h2>
        <div class="metrics__grid">
            <ul class="metrics__list">
                <li class="metrics__list-item">
                    <div class="metrics__card">
                        <h3 class="metrics__card-title">
                            Since:
                        </h3>
                        <div class="metrics__card-amount">
                            2017
                        </div>
                    </div>
                </li>
                <li class="metrics__list-item">
                    <div class="metrics__card">
                        <h3 class="metrics__card-title">
                            Average ROI:
                        </h3>
                        <div class="metrics__card-amount">
                            5<span>8</span>,3%
                        </div>
                    </div>
                </li>
                <li class="metrics__list-item">
                    <div class="metrics__card">
                        <h3 class="metrics__card-title">
                            Number of Investments:
                        </h3>
                        <div class="metrics__card-amount">
                            <span>
                                8
                            </span>
                        </div>
                    </div>
                </li>
                <li class="metrics__list-item">
                    <div class="metrics__card">
                        <h3 class="metrics__card-title">
                            Assets Under Management:
                        </h3>
                        <div class="metrics__card-amount">
                            $4,5M
                        </div>
                    </div>
                </li>
                <li class="metrics__list-item">
                    <div class="metrics__card">
                        <h3 class="metrics__card-title">
                            Banana Crypto Community:
                        </h3>
                        <div class="metrics__card-amount">
                            110К
                        </div>
                    </div>
                </li>
                <li class="metrics__list-item">
                    <div class="metrics__card">
                        <h3 class="metrics__card-title">
                            Team Members:
                        </h3>
                        <div class="metrics__card-amount">
                            70
                        </div>
                    </div>
                </li>
            </ul>
            <div class="metrics__interested">
                <h3 class="metrics__interested-heading">
                    Interested in<br>joining us?
                </h3>
                <div class="metrics__interested-text">
                    Banana Capital has invested in digital assets and companies, providing investors with a full range
                    of opportunities.
                </div>
                <img src="/images/metrics-arrow.svg" alt="" class="metrics__interested-icon">
            </div>
            <a href="#callback-modal" class="metrics__become-investor">
                Become an<br> Investor
            </a>
        </div>
    </div>
</section>