<section class="not-found">
    <div class="not-found__content">
        <div class="not-found__text-content">
            <div class="not-found__wrapper">


                <h1 class="not-found__title">
                    404
                </h1>
                <div class="not-found__text">
                    The page you are looking for does not exist, you can either go back to homepage.

                </div>
            </div>
            <a href="#" class="not-found__link">
                Back To Homepage
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>