<section class="partners">
    <div class="partners__ticker js-ticker">
        <div class="partners__ticker-track js-ticker-track">
            <div class="partners__ticker-inner-track js-ticker-inner-track">
                <div class="partners__ticker-item">
                    Partners
                </div>
                <div class="partners__ticker-item">
                    Partners
                </div>
                <div class="partners__ticker-item">
                    Partners
                </div>
                <div class="partners__ticker-item">
                    Partners
                </div>
            </div>
        </div>
    </div>
    <div class="partners__content">
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-pattern">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/images/new-partners/okx.svg" alt="" class="partners__card-icon">
                    <img src="/images/new-partners/okx-yellow.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-pattern">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/images/new-partners/mars.svg" alt="" class="partners__card-icon">
                    <img src="/images/new-partners/mars-yellow.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-pattern">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/images/new-partners/gotbit.webp" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-pattern">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/images/new-partners/gts.webp" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-pattern">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/images/new-partners/white-frame.svg" alt="" class="partners__card-icon">
                    <img src="/images/new-partners/white-frame-yellow.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-pattern">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/images/new-partners/x10.svg" alt="" class="partners__card-icon">
                    <img src="/images/new-partners/x10-yellow.svg" alt="" class="partners__card-icon">
                </a>
            </li>
        </ul>
        <a href="#callback-modal" class="partners__become-partner">Become our partner</a>
    </div>
</section>