<section class="partners">
    <div class="partners__ticker js-ticker">
        <div class="partners__ticker-track js-ticker-track">
            <div class="partners__ticker-inner-track js-ticker-inner-track">
                <div class="partners__ticker-item">
                    Partners
                </div>
                <div class="partners__ticker-item">
                    Partners
                </div>
                <div class="partners__ticker-item">
                    Partners
                </div>
                <div class="partners__ticker-item">
                    Partners
                </div>
            </div>
        </div>
    </div>
    <div class="partners__content">
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/1.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/2.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/3.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/4.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/5.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/6.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/7.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/8.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/9.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/10.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/11.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/12.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/13.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/14.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/15.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/16.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/17.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/18.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/19.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/20.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/21.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/22.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/23.svg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="/images/partners/24.svg" alt="" class="partners__card-icon">
                </a>
            </li>
        </ul>
        <a href="#callback-modal" class="partners__become-partner">Become our partner</a>
    </div>
</section>