<section class="portfolio-catalog js-tabs">
    <div class="portfolio-catalog__content">
        <div class="portfolio-catalog__top-row">
            <a href="#" class="portfolio-catalog__back-link">
                // MAIN
            </a>
            <h1 class="portfolio-catalog__heading">
                Portfolio
            </h1>
            <div class="portfolio-catalog__tabs-nav">
                <a href="#" class="portfolio-catalog__tabs-nav-btn js-tabs-btn active">
                    Projects
                </a>
                <a href="#" class="portfolio-catalog__tabs-nav-btn js-tabs-btn">
                    Funds
                </a>
            </div>
        </div>
        <div class="portfolio-catalog__tabs-items">
            <div class="portfolio-catalog__tabs-item js-tabs-item">
                <ul class="portfolio__catalog-list">
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Consensys
                                </h3>
                                <img src="/images/portfolio/1.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A complete suite of products to create and participate in Web3. Metamask developer –
                                the leading self-custodial wallet for over 100 million users annually.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#x" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    LayerZero
                                </h3>
                                <img src="/images/portfolio/2.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                An omnichain interoperability protocol enables the realization of cross-chain
                                applications with a low-level communication primitive.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Stargate
                                </h3>
                                <img src="/images/portfolio/3.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Fully composable liquidity transport protocol that lives at the heart of omnichain
                                DeFi.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Manta Network
                                </h3>
                                <img src="/images/portfolio/4.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A scaled blockchain is easy to build & interesting to use.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    BitCountry
                                </h3>
                                <img src="/images/portfolio/5.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                The project is building a secure and interoperable future with zero knowledge to
                                deliver the best developer experience that enables ZK applications.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Magic Square
                                </h3>
                                <img src="/images/portfolio/6.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A discovery and engagement platform that connects users to the Web3 and blockchain
                                ecosystem.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Medieval<br>
                                    Empires
                                </h3>
                                <img src="/images/portfolio/7.webp" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A mid-core multiplayer online blockchain strategy game.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    DYOR<br> Exchange
                                </h3>
                                <img src="/images/portfolio/8.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Decentralized investment applications that allow you to discover and invest in
                                high-quality Web3 projects, follow other investors in the space, and make better
                                investments faster.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    GamePlan
                                </h3>
                                <img src="/images/portfolio/9.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Decentralized investment applications that allow you to discover and invest in
                                high-quality Web3 projects, follow other investors in the space, and make better
                                investments faster.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#x" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Ernie
                                </h3>
                                <img src="/images/portfolio/10.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Decentralized investment applications that allow you to discover and invest in
                                high-quality Web3 projects, follow other investors in the space, and make better
                                investments faster.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="portfolio-catalog__tabs-item js-tabs-item">
                <ul class="portfolio__catalog-list">
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Consensys
                                </h3>
                                <img src="/images/portfolio/1.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A complete suite of products to create and participate in Web3. Metamask developer –
                                the leading self-custodial wallet for over 100 million users annually.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#x" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    LayerZero
                                </h3>
                                <img src="/images/portfolio/2.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                An omnichain interoperability protocol enables the realization of cross-chain
                                applications with a low-level communication primitive.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Stargate
                                </h3>
                                <img src="/images/portfolio/3.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Fully composable liquidity transport protocol that lives at the heart of omnichain
                                DeFi.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Manta Network
                                </h3>
                                <img src="/images/portfolio/4.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A scaled blockchain is easy to build & interesting to use.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    BitCountry
                                </h3>
                                <img src="/images/portfolio/5.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                The project is building a secure and interoperable future with zero knowledge to
                                deliver the best developer experience that enables ZK applications.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Magic Square
                                </h3>
                                <img src="/images/portfolio/6.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A discovery and engagement platform that connects users to the Web3 and blockchain
                                ecosystem.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Medieval<br>
                                    Empires
                                </h3>
                                <img src="/images/portfolio/7.webp" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                A mid-core multiplayer online blockchain strategy game.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    DYOR<br> Exchange
                                </h3>
                                <img src="/images/portfolio/8.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Decentralized investment applications that allow you to discover and invest in
                                high-quality Web3 projects, follow other investors in the space, and make better
                                investments faster.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    GamePlan
                                </h3>
                                <img src="/images/portfolio/9.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Decentralized investment applications that allow you to discover and invest in
                                high-quality Web3 projects, follow other investors in the space, and make better
                                investments faster.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#x" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio__list-item">
                        <div class="portfolio__card">
                            <a href="#" class="portfolio__card-link-wrapper">

                            </a>
                            <div class="portfolio__card-pattern">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="portfolio__card-top-row">
                                <h3 class="portfolio__card-title">
                                    Ernie
                                </h3>
                                <img src="/images/portfolio/10.svg" alt="" class="portfolio__card-icon">
                            </div>
                            <div class="portfolio__card-text">
                                Decentralized investment applications that allow you to discover and invest in
                                high-quality Web3 projects, follow other investors in the space, and make better
                                investments faster.
                            </div>
                            <div class="portfolio__card-bottom-row">
                                <a href="#" class="portfolio__card-x">
                                    Go to x
                                </a>
                                <div class="portfolio__card-website">
                                    go to website
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>