<section class="portfolio">
    <div class="portfolio__content js-tabs">
        <div class="portfolio__top-row">
            <div class="portflolio__tabs-nav">
                <a href="#" class="portflolio__tabs-nav-btn js-tabs-btn active">
                    Projects
                </a>
                <a href="#" class="portflolio__tabs-nav-btn js-tabs-btn">
                    Funds
                </a>
            </div>
            <h2 class="portfolio__heading">
                Portfolio
            </h2>
        </div>
        <div class="portfolio__tabs-items">
            <div class="portfolio__tabs-item js-tabs-item active">
                <div class="portfolio__list-wrapper">
                    <ul class="portfolio__list">
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Consensys
                                    </h3>
                                    <img src="/images/portfolio/1.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A complete suite of products to create and participate in Web3. Metamask developer –
                                    the leading self-custodial wallet for over 100 million users annually.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        LayerZero
                                    </h3>
                                    <img src="/images/portfolio/2.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    An omnichain interoperability protocol enables the realization of cross-chain
                                    applications with a low-level communication primitive.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Stargate
                                    </h3>
                                    <img src="/images/portfolio/3.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Fully composable liquidity transport protocol that lives at the heart of omnichain
                                    DeFi.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Manta Network
                                    </h3>
                                    <img src="/images/portfolio/4.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A scaled blockchain is easy to build & interesting to use.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        BitCountry
                                    </h3>
                                    <img src="/images/portfolio/5.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    The project is building a secure and interoperable future with zero knowledge to
                                    deliver the best developer experience that enables ZK applications.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Magic Square
                                    </h3>
                                    <img src="/images/portfolio/6.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A discovery and engagement platform that connects users to the Web3 and blockchain
                                    ecosystem.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Medieval<br>
                                        Empires
                                    </h3>
                                    <img src="/images/portfolio/7.webp" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A mid-core multiplayer online blockchain strategy game.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        DYOR<br> Exchange
                                    </h3>
                                    <img src="/images/portfolio/8.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Decentralized investment applications that allow you to discover and invest in
                                    high-quality Web3 projects, follow other investors in the space, and make better
                                    investments faster.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        GamePlan
                                    </h3>
                                    <img src="/images/portfolio/9.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Decentralized investment applications that allow you to discover and invest in
                                    high-quality Web3 projects, follow other investors in the space, and make better
                                    investments faster.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Ernie
                                    </h3>
                                    <img src="/images/portfolio/10.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Decentralized investment applications that allow you to discover and invest in
                                    high-quality Web3 projects, follow other investors in the space, and make better
                                    investments faster.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="portfolio__show-more">
                        Show All
                    </a>
                </div>
            </div>
            <div class="portfolio__tabs-item js-tabs-item">
                <div class="portfolio__list-wrapper">
                    <ul class="portfolio__list">
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Consensys
                                    </h3>
                                    <img src="/images/portfolio/1.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A complete suite of products to create and participate in Web3. Metamask developer –
                                    the leading self-custodial wallet for over 100 million users annually.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        LayerZero
                                    </h3>
                                    <img src="/images/portfolio/2.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    An omnichain interoperability protocol enables the realization of cross-chain
                                    applications with a low-level communication primitive.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Stargate
                                    </h3>
                                    <img src="/images/portfolio/3.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Fully composable liquidity transport protocol that lives at the heart of omnichain
                                    DeFi.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Manta Network
                                    </h3>
                                    <img src="/images/portfolio/4.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A scaled blockchain is easy to build & interesting to use.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        BitCountry
                                    </h3>
                                    <img src="/images/portfolio/5.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    The project is building a secure and interoperable future with zero knowledge to
                                    deliver the best developer experience that enables ZK applications.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Magic Square
                                    </h3>
                                    <img src="/images/portfolio/6.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A discovery and engagement platform that connects users to the Web3 and blockchain
                                    ecosystem.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Medieval<br>
                                        Empires
                                    </h3>
                                    <img src="/images/portfolio/7.webp" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    A mid-core multiplayer online blockchain strategy game.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        DYOR<br> Exchange
                                    </h3>
                                    <img src="/images/portfolio/8.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Decentralized investment applications that allow you to discover and invest in
                                    high-quality Web3 projects, follow other investors in the space, and make better
                                    investments faster.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        GamePlan
                                    </h3>
                                    <img src="/images/portfolio/9.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Decentralized investment applications that allow you to discover and invest in
                                    high-quality Web3 projects, follow other investors in the space, and make better
                                    investments faster.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="portfolio__list-item">
                            <a href="#" class="portfolio__card">
                                <div class="portfolio__card-pattern">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="portfolio__card-top-row">
                                    <h3 class="portfolio__card-title">
                                        Ernie
                                    </h3>
                                    <img src="/images/portfolio/10.svg" alt="" class="portfolio__card-icon">
                                </div>
                                <div class="portfolio__card-text">
                                    Decentralized investment applications that allow you to discover and invest in
                                    high-quality Web3 projects, follow other investors in the space, and make better
                                    investments faster.
                                </div>
                                <div class="portfolio__card-bottom-row">
                                    <div class="portfolio__card-x">
                                        Go to x
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="portfolio__show-more">
                        Show All
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>