<section class="press">
    <div class="press__content">
        <h2 class="press__heading">
            <img src="/images/press-heading.svg" alt="" class="press__heading-image">
        </h2>
        <div class="press__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/1.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Rok 2022 v kryptu mě stál dvacet let života, říká šéf největšího kryptofondu Evropy
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/2.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Rockaway a Miton věří v oživení NFT. Jejich fondy investují do peněženky s českou
                                    stopou
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/3.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Dealroom and RockawayX Publish 2023 Report on the State of European Crypto Company
                                    Funding
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/4.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Europe is regulating crypto — what does it mean for the industry?
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/1.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Rok 2022 v kryptu mě stál dvacet let života, říká šéf největšího kryptofondu Evropy
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/2.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Rockaway a Miton věří v oživení NFT. Jejich fondy investují do peněženky s českou
                                    stopou
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/3.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Dealroom and RockawayX Publish 2023 Report on the State of European Crypto Company
                                    Funding
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press__slider-card">
                            <div class="press__slider-card-image-container">
                                <img src="/images/press/4.webp" alt="" class="press__slider-card-image">
                            </div>
                            <div class="press__slider-card-content">
                                <h3 class="press__slider-card-title">
                                    Europe is regulating crypto — what does it mean for the industry?
                                </h3>
                                <div class="press__slider-card-text">
                                    read in forbes
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="press__show-all">
            Show all
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
    </div>
</section>