<section class="services">
    <div class="services__content">
        <h2 class="services__heading">
            Services
        </h2>
        <ul class="services__list">
            <li class="services__list-item">
                <div class="services__card js-accordion">
                    <div class="services__card-btn js-accordion-btn">
                        <img src="/images/services/1.svg" alt="" class="services__card-icon">
                        <div class="services__card-btn-title">
                            Investments & Fundraising
                        </div>
                        <span class="services__card-btn-plus">
                            <span class="services__card-btn-outline">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="services__card-btn-bar"></span>
                            <span class="services__card-btn-bar"></span>
                        </span>
                    </div>
                    <div class="services__card-content js-accordion-content">
                        <div class="services__card-content-inner">
                            <ul class="services__card-list">
                                <li class="services__card-list-item">
                                    Market Making
                                </li>
                                <li class="services__card-list-item">
                                    Strategic Investing
                                </li>
                                <li class="services__card-list-item">
                                    Building an Investment Relations
                                </li>
                                <li class="services__card-list-item">
                                    Business Development & Pitching
                                </li>
                                <li class="services__card-list-item">
                                    Interaction with Launchpads & Exchanges
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="services__list-item">
                <div class="services__card js-accordion">
                    <div class="services__card-btn js-accordion-btn">
                        <img src="/images/services/2.svg" alt="" class="services__card-icon">
                        <div class="services__card-btn-title">
                            Incubation & Advising
                        </div>
                        <span class="services__card-btn-plus">
                            <span class="services__card-btn-outline">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="services__card-btn-bar"></span>
                            <span class="services__card-btn-bar"></span>
                        </span>
                    </div>
                    <div class="services__card-content js-accordion-content">
                        <div class="services__card-content-inner">
                            <ul class="services__card-list">
                                <li class="services__card-list-item">
                                    Strategic Consulting
                                </li>
                                <li class="services__card-list-item">
                                    Assistance in Listing on CEX
                                </li>
                                <li class="services__card-list-item">
                                    Recruiting Experienced Stuff
                                </li>
                                <li class="services__card-list-item">
                                    Assistance in Technical Development
                                </li>
                                <li class="services__card-list-item">
                                    Preparation of Technical & Presentation Documentation
                                </li>
                                <li class="services__card-list-item">
                                    Development of Tokenomics, Economic & Business Model
                                </li>
                                <li class="services__card-list-item">
                                    Create a Cryptocurrency Investment Sector within Traditional Funds
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="services__list-item">
                <div class="services__card js-accordion">
                    <div class="services__card-btn js-accordion-btn">
                        <img src="/images/services/3.svg" alt="" class="services__card-icon">
                        <div class="services__card-btn-title">
                            Strategies
                        </div>
                        <span class="services__card-btn-plus">
                            <span class="services__card-btn-outline">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="services__card-btn-bar"></span>
                            <span class="services__card-btn-bar"></span>
                        </span>
                    </div>
                    <div class="services__card-content js-accordion-content">
                        <div class="services__card-content-inner">
                            <ul class="services__card-list">
                                <li class="services__card-list-item">
                                    Mediabuying & KOLs Influencers
                                </li>
                                <li class="services__card-list-item">
                                    Assistance in Blockchain Validation
                                </li>
                                <li class="services__card-list-item">
                                    Increasing the Credibility of the Project
                                </li>
                                <li class="services__card-list-item">
                                    Integrating NFT Technology into Marketing
                                </li>
                                <li class="services__card-list-item">
                                    Competitors, Market Size & Revenues Analysis
                                </li>
                                <li class="services__card-list-item">
                                    Personal Branding, Go-to-Market & Growth Hacking
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="services__list-item">
                <div class="services__card js-accordion">
                    <div class="services__card-btn js-accordion-btn">
                        <img src="/images/services/4.svg" alt="" class="services__card-icon">
                        <div class="services__card-btn-title">
                            Marketing
                        </div>
                        <span class="services__card-btn-plus">
                            <span class="services__card-btn-outline">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="services__card-btn-bar"></span>
                            <span class="services__card-btn-bar"></span>
                        </span>
                    </div>
                    <div class="services__card-content js-accordion-content">
                        <div class="services__card-content-inner">
                            <ul class="services__card-list">
                                <li class="services__card-list-item">
                                    Public Relations & Storytelling
                                </li>
                                <li class="services__card-list-item">
                                    Partnerships & Collaborations
                                </li>
                                <li class="services__card-list-item">
                                    Event Organization and Execution
                                </li>
                                <li class="services__card-list-item">
                                    Event Organization and Execution
                                </li>
                                <li class="services__card-list-item">
                                    Community Management & Engagement
                                </li>
                                <li class="services__card-list-item">
                                    Social Media Marketing & Content Management
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
        <a href="#callback-modal" class="services__link">
            Let’s connect
        </a>
    </div>
</section>