<section class="strat">
    <div class="strat__content">
        <h2 class="strat__heading">
            Strategies
        </h2>
        <div class="strat__wrapper">


            <ol class="strat__list">
                <li class="strat__list-item">
                    <div class="strat__card">
                        <div class="strat__card-left-col">
                            <div class="strat__card-video-wrapper">
                                <img src="/images/strategies/1.webp" alt="" class="strat__card-video-preview">
                            </div>
                        </div>
                        <div class="strat__card-right-col">
                            <h3 class="strat__card-title">
                                Hedge Fund Department
                            </h3>
                            <ul class="strat__card-list">
                                <li class="strat__card-list-item">
                                    Providing Liquidity in DeFi Protocols
                                </li>
                                <li class="strat__card-list-item">
                                    Quant Trading, Statistical Arbitrage
                                </li>
                                <li class="strat__card-list-item">
                                    Discretionary Trading, Portfolio Management
                                </li>
                                <li class="strat__card-list-item">
                                    Medium & Low-Frequency Algorithmic Trading
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="strat__list-item">
                    <div class="strat__card">
                        <div class="strat__card-left-col">
                            <div class="strat__card-video-wrapper">
                                <img src="/images/strategies/2.webp" alt="" class="strat__card-video-preview">
                            </div>
                        </div>
                        <div class="strat__card-right-col">
                            <h3 class="strat__card-title">
                                Venture Fund Department
                            </h3>
                            <ul class="strat__card-list">
                                <li class="strat__card-list-item">
                                    Venture Capital Platform
                                </li>
                                <li class="strat__card-list-item">
                                    Venture Equity Investments (SAFE)
                                </li>
                                <li class="strat__card-list-item">
                                    Early-Stage Tokens Investments (SAFT)
                                </li>
                                <li class="strat__card-list-item">
                                    Passive Investment Strategies: RetroZavod & NodesZavod
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>