<section class="subscribe">
    <div class="subscribe__content">
        <div class="subscribe__card">
            <div class="subscribe__card-pattern">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="subscribe__card-inner">


                <h2 class="subscribe__card-heading">
                    Newsletter
                </h2>
                <div class="subscribe__card-text">
                    Subscribe to&nbsp;our&nbsp;news
                </div>
                <form action="/" method="POST" class="subscribe__form">
                    <div class="subscribe__form-fields">
                        <div class="subscribe__form-field">
                            <input type="email" name="your-email" class="subscribe__form-input"
                                placeholder="Enter your e-mail">
                        </div>
                    </div>
                    <button class="subscribe__form-submit">
                        Subscribe
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                    <div class="subscribe__form-policy">
                        You will get the monthly State of the Web3 Market analysis newsletter.
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>