<section class="team">
    <div class="team__content">
        <h2 class="team__heading">
            Our team
        </h2>
        <div class="team__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                01
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Dinar Faskhutdinov
                                </h3>
                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Co-Founder (CEO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                02
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Ainur Faskhutdinov
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Co-Founder (CEO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                03
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Vlad
                                </h3>
                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Chief Investment Officer (CIO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                04
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Julius
                                </h3>
                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Chief Analytics Officer (CAO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                05
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Nick
                                </h3>


                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Chief Marketing Officer (CMO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                06
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Julia
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Chief Human Resources Officer (CHRO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                07
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Fred
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Head of Onchain Analytics
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                08
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Vlad
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Head of Node Validation
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                09
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Salim
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Chief Product Officer (CPO)
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                10
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Alena
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Head of Production
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                11
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Murad
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Full-Stack Developer
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                12
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Ilyas
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Node Validation Specialist
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                13
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Alex
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Trading Specialist
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__slider-card">
                            <div class="team__slider-card-image-wrapper">
                                <img src="/images/team.webp" alt="" class="team__slider-card-image">
                            </div>
                            <div class="team__slider-card-number">
                                14
                            </div>
                            <div class="team__slider-card-content">
                                <h3 class="team__slider-card-title">
                                    Marat
                                </h3>

                                <div class="team__slider-card-bottom-row">
                                    <div class="team__slider-card-role">
                                        Trading Specialist
                                    </div>
                                    <div class="team__slider-card-social">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="team__join">
                            Join our<br>
                            team
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="team__show-more">
            Show More
        </a>
    </div>
</section>