@font-face {
  font-family: "TT Runs Trial";
  src: url("../fonts/TTRunsTrial-Regular.woff2") format("woff2"),
    url("../fonts/TTRunsTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Runs Trial";
  src: url("../fonts/TTRunsTrial-Medium.woff2") format("woff2"),
    url("../fonts/TTRunsTrial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Runs Trial";
  src: url("../fonts/TTRunsTrial-Light.woff2") format("woff2"),
    url("../fonts/TTRunsTrial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
