.partners {
  @include blockWrapper;
  margin-bottom: 15rem;
  grid-row-gap: 0;

  @include breakpoint(mobile) {
    margin-bottom: 10rem;
    grid-row-gap: 0;
  }
}
.partners__content {
  @include blockContent;
}

.partners__ticker {
  position: relative;
  background: linear-gradient(37.18deg, #e0843d -2.66%, #ffd275 165.5%);
  grid-column: 1 / -1;
  overflow: hidden;
}

.partners__ticker-track {
  display: flex;
  align-items: center;
  transform: translateY(32%);
}

.partners__ticker-inner-track {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.partners__ticker-item {
  font-style: normal;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(2, 2, 2, 0.8) 0%,
    rgba(2, 2, 2, 0.15) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  &::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: linear-gradient(
      180deg,
      rgba(2, 2, 2, 0.8) 0%,
      rgba(2, 2, 2, 0.15) 100%
    );
    flex-shrink: 0;
    margin: 0 2.8rem;
  }
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 0;
  padding: 6rem 0;
  padding-bottom: 4rem;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1.2rem;
    grid-row-gap: 0;
    padding: 0;
  }
}

.partners__list-item {
  position: relative;
  z-index: 43;

  @include breakpointMF(small-tablet) {
    &:nth-child(6n + 1) {
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 200vw;
        background: linear-gradient(
          180deg,
          rgba(13, 13, 13, 0) 30.85%,
          #0d0d0d 100%
        );
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @include breakpoint(mobile) {
    &:nth-child(3n + 1) {
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 200vw;
        background: linear-gradient(
          180deg,
          rgba(13, 13, 13, 0) 30.85%,
          #0d0d0d 100%
        );
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.partners__card {
  position: relative;
  z-index: 41;
  display: block;
  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  @include breakpointMF(small-tablet) {
    @media (hover: hover) {
      &:hover {
        .partners__card-pattern {
          opacity: 1;
          visibility: inherit;
          transition: opacity 0.2s, visibility 0.2s;
        }

        .partners__card-icon {
          // &:nth-of-type(1) {
          //   opacity: 0;
          //   visibility: hidden;
          //   transition: opacity 0.2s, visibility 0s linear 0.2s;
          // }
          &:nth-of-type(2) {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.2s, visibility 0.2s;
          }
        }
      }
    }
  }
}

.partners__card-pattern {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  inset: 0;
  & > span {
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3.2rem;
        height: 1px;
        background-color: #f1ae5b;

        @include breakpoint(mobile) {
          width: 2rem;
        }
      }

      &::after {
        transform: rotate(90deg);
        transform-origin: left top;

        margin-left: 1px;
      }
    }
    &:nth-child(2) {
      position: absolute;
      right: 0;
      top: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 3.2rem;
        height: 1px;
        background-color: #f1ae5b;
        @include breakpoint(mobile) {
          width: 2rem;
        }
      }

      &::after {
        transform: rotate(-90deg);
        transform-origin: right top;
        margin-right: 1px;
      }
    }
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 3.2rem;
        height: 1px;
        background-color: #f1ae5b;
        @include breakpoint(mobile) {
          width: 2rem;
        }
      }

      &::after {
        transform: rotate(-90deg);
        transform-origin: left bottom;

        margin-left: 1px;
      }
    }
    &:nth-child(4) {
      position: absolute;
      bottom: 0;
      right: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 3.2rem;
        height: 1px;
        background-color: #f1ae5b;
        @include breakpoint(mobile) {
          width: 2rem;
        }
      }

      &::after {
        transform: rotate(90deg);
        transform-origin: right bottom;
        margin-right: 1px;
      }
    }
  }
}

.partners__card-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  aspect-ratio: 210 / 120;
  object-fit: contain;
  transform: translate(-50%, -50%) translateZ(0);
  width: 70%;
  height: auto;
  transition: opacity 0.2s, visibility 0.2s;
  backface-visibility: hidden;

  @include breakpoint(mobile) {
    width: 90%;
  }

  &:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }
}

.partners__become-partner {
  padding: 2.7rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  line-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 4rem;
  display: block;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  @include breakpoint(mobile) {
    order: 10;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    padding: 1.9rem;
    margin-top: 2rem;
  }

  @media (hover: hover) {
    &:hover {
      border-color: white;
    }
  }
}
